.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.center,
%center {
    margin:0 auto;
}

.left,
%left {
    float:left;
}

.right,
%right {
    float:right;
}

%cancel-float {
    float:none;
}

.fullwidth,
%fullwidth {
    width:100%;
}

.one-third,
%one-third {
    width:33.33%;
}

.two-thirds,
%two-thirds {
    width:66.66%;
}

.half,
%half {
    width:50%;
}

%upper {
    text-transform:uppercase;
}

%reset,
.reset {
    margin:0;
    padding:0;
}