.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.center,
%center {
    margin:0 auto;
}

.imgcenter {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.textcenter {
    text-align:center;
}

.left,
%left {
    float:left;
}

.right,
%right {
    float:right;
}

.relative {
    position:relative;
}

.absolute {
    position:absolute;
}

.topright {
    position:absolute;
    top:0;
    right:0;
}

%cancel-float {
    float:none;
}

.fullwidth,
%fullwidth {
    width:100%;
}

.one-third,
%one-third {
    width:33.33%;

    @include max-mq($mobile) {
        width:100% !important;
    }
}

.two-thirds,
%two-thirds {
    width:66.66% !important;

    @include max-mq($mobile) {
        width:100% !important;
    }
}

.overflow {
    overflow:hidden;
}

.half,
%half {
    width:50%;
}

.block {
    display:block;
}

.nolist,
%nolist {
    list-style:none;
    margin:0;
    padding:0;
}

%reset,
.reset {
    margin:0;
    padding:0;
}

.border,
%border {
    border:1px solid $border-color;
}

%border-top,
.border-top {
    border-top:1px solid $border-color;
}

%border-right,
.border-right {
    border-right:1px solid $border-color;
}

%border-bottom,
.border-bottom {
    border-bottom:1px solid $border-color;
}

%border-left,
.border-left {
    border-left:1px solid $border-color;
}

.nomargin {
    margin:0;
}