@mixin img-replace($w, $h, $block:false) {
    text-indent:-9999px;
    overflow:hidden;
    width:$w;
    height:$h;
    @if ($block) {
        display:block;
    }
}

@mixin min-mq($breakpoint) {
    @media screen and (min-width:$breakpoint) { @content; }
}

@mixin max-mq($breakpoint) {
    @media screen and (max-width:$breakpoint) { @content; }
}