@mixin spacing($collection: (top, right, bottom, left)) {
    @each $dir in $collection {
        %margin-#{$dir},
        .margin-#{$dir} {margin-#{$dir}:$space;}
        %margin-#{$dir}-2x,
        .margin-#{$dir}-2x {margin-#{$dir}:$space*2;}
        %margin-#{$dir}-3x,
        .margin-#{$dir}-3x {margin-#{$dir}:$space*3}
        %margin-#{$dir}-4x,
        .margin-#{$dir}-4x {margin-#{$dir}:$space*4;}
        %margin-#{$dir}-5x,
        .margin-#{$dir}-5x {margin-#{$dir}:$space*5;}

        %padding-#{$dir},
        .padding-#{$dir} {padding-#{$dir}:$space;}
        %padding-#{$dir}-2x,
        .padding-#{$dir}-2x {padding-#{$dir}:$space*2;}
        %padding-#{$dir}-3x,
        .padding-#{$dir}-3x {padding-#{$dir}:$space*3}
        %padding-#{$dir}-4x,
        .padding-#{$dir}-4x {padding-#{$dir}:$space*4;}
        %padding-#{$dir}-5x,
        .padding-#{$dir}-5x {padding-#{$dir}:$space*5;}
    }

    %margin-verticals,
    .margin-verticals {
        margin-top:$space;
        margin-bottom:$space;
    }

    @for $i from 2 through 5 {
        %margin-verticals-#{$i}x,
        .margin-verticals-#{$i}x {
            margin-top:$space*($i);
            margin-bottom:$space*($i);
        }
    }

    %margin-sides,
    .margin-sides {
        margin-left:$space;
        margin-right:$space;
    }

    @for $i from 2 through 5 {
        %margin-sides-#{$i}x,
        .margin-sides-#{$i}x {
            margin-left:$space*($i);
            margin-right:$space*($i);
        }
    }
}

@include spacing();