// Breakpoints for responsive layout
$mobile: 600px;
$tablet: 768px;
$full: 1024px;

/*
    If there is a max-width for centered blocks, set $max-width-set to true
    and set $max-width to the value.
*/
$max-width-set: false;
$max-width: 960px;

// Fonts
$font-stack: Arial, Helvetica, Sans-Serif;
$standard-em: 1.4rem;
$standard-px: 14px;
$line-height: 1.5em;
$b-margin-em: 1rem;
$b-margin-px: 10px;

// Spacing
$space:10px;

// Colors
$black:             #000;
$white:             #FFF;
$border-color:      #666;